@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Hide Google Translate Banner and Widget Frames */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame,
.goog-te-menu-value,
.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Hide the powered by google and other widgets */
#google_translate_element {
  display: none !important;
}

body > .skiptranslate {
  display: none !important;
}
